body {
    font-family: "Oswald", sans-serif;
    margin: 0;
    background-color: #F7F7F7;
}

.header {
    /* background: url("https://www.desktopbackground.org/download/2560x1440/2015/07/01/972708_wallpaper-abstract-texture-blue-background-pattern-wallpapers_2560x1600_h.jpg"); */
    background: url("https://img.freepik.com/free-vector/futuristic-science-lab-background_23-2148505015.jpg?t=st=1725237014~exp=1725240614~hmac=800e5bc96b6f19381c6bb9cec81d6800799e6bf0c107d2815a2ff698bb4d668d&w=1380");
    background-size: 100%;
    background-color: #2a015e;
    height: 288px;
    padding: 16px 0 0 0;
}

.header-title {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: normal;
    text-align: center;
    margin-top: 24px;
    margin-right: auto;
}

.header-description {
    color: #CFCFCF;
    margin: 4px auto;
    text-align: center;
    max-width: 384px;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 32px;
}

.card {
    margin-bottom: 24px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.menu {
    height: 112px;
    width: 912px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 24px;
    margin: -80px auto 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.Select-control {
    width: 256px;
    height: 48px;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    line-height: 48px;
}

.Select--multi .Select-value-label {
    line-height: 32px;
}

.menu-title {
    margin-bottom: 6px;
    font-weight: bold;
    color: #079A82;
}